body {
  margin: -2px;
}

ul {
  list-style-type: none;
  margin: 5px;
  padding: inherit;
}

li {
  display: inline;
}

#logo {
  align: left;
  height: 50px;
  width: 50px;
  top: 20px;
  margin-left: 15px;
}

#nav-bar {
  position: relative;
  border-bottom: 2px solid #048eaa;
  border-top: 5px solid #75e2e6;
}

#page-links {
  float: right;
  display: inline-block;
  margin-top: 15px;
}

li {
  padding-right: 20px;
}

nav {
  background-color: #75e2e6;
}

h1 {
  text-align: center;
  color: white;
  padding-top: 30px;
}

.circle-pic {
  border-radius: 50%;
  width: 125px;
  height: 125px;
  border-style: solid;
  border-color:  #048eaa;
}

button {
  height: 35px;
  width: 300px;
  border-radius: 2px;
  background-color: #75e2e6;
  margin-bottom: 25px;
}

#primary {
  text-align: center;
  background-position: center;
  background-image: linear-gradient( rgba(0,0,0,.5), rgba(0,0,0,.5) ), url(images/park.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  height: 600px;
  margin-top: -20px;
}

.nametag {
  margin-right: 250px;
  margin-bottom: 5px;
  color: #ffffff;
}

.namebox {
  height: 30px;
  width: 295px;
  border-radius: 2px;
  margin-bottom: 25px;
}

#input-area {
  margin: 0 auto;
  width: 430px;
}

.row {
  margin: 20px;
}

.how-to,
.what-is,
.facts {
  text-align: center;
  width: 33%;
  display: inline-block;
  height: 500px;
}

.doggo-buttons {
  height: 30px;
  width: 240px;
  border-radius: 2px;
  background-color: #048eaa;
  color: white;
}

footer {
  background-color: #048eaa;
  display: inline-block;
  position: relative;
  width: 100%;
  padding: 1%;
}

footer ul {
  margin: 1% 0% 1% 40%;
}

footer p {
  margin: 1% 0% 1% 44%;
  color: #ffffff;
}

.dog-info {
   width: 250px;
   margin-left: 25%;
   text-align: left;
}
